/* Navbar chung */
nav.navbar {
    background-color: #fff;

    position: sticky;
    top: 0;
    /* Dính vào đầu trang */
    z-index: 1000;
    /* Đảm bảo navbar nằm trên các phần tử khác */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Thêm bóng để tạo sự nổi bật */
}

.navbar .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #3498db;
    transition: color 0.3s;
}

.navbar .navbar-brand:hover {
    color: #2980b9;
}

/* Navbar links */
.navbar-nav .nav-link {
    color: #555;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #3498db;
}

/* Thanh tìm kiếm */
.search-bar {
    display: flex;
    align-items: center;
    width: 50%;
    /* Chiếm 50% chiều rộng */
    max-width: 600px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px;
    border-radius: 20px;
    outline: none;
    background: none;
    color: #555;
}

.search-input::placeholder {
    color: #aaa;
    font-size: 1rem;
}

.search-btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

button.search-btn {
    width: 10px;
    padding: 20px;
}

.search-btn:hover {
    background-color: #2980b9;
}

.search-btn i {
    font-size: 1.2rem;
}

/* Tùy chỉnh cho các thiết bị di động */
@media (max-width: 768px) {
    .navbar-nav {
        margin-top: 1rem;
    }

    .search-bar {
        width: 80%;
        /* Chiếm 80% chiều rộng trên di động */
        margin-top: 1rem;
    }
}

.user-dropdown {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1050;
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #0056b3;
}

.dropdown-divider {
    height: 1px;
    margin: 0.5rem 0;
    overflow: hidden;
    background-color: #e9ecef;
}